.col-campaign-id {
    width: 75px;
}


.campaign-builder .btns-builder {
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 1040;
}

.campaign-builder .builder-content {
    right: 0;
}

.campaign-builder #builder-errors {
    position: fixed;
    top: 5px;
    right: 206px;
    z-index: 1040;
}

#CampaignCanvas {
    height: 10000px;
    width: 10000px;
}

#CampaignEvent_newsource_hide {
    display: none;
}

#CampaignEventPanel {
    position: absolute;
    padding: 10px 20px;
    background-color: #ededed;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    z-index:1035;
}

#CampaignEventPanelLists .disabled-result {
    display: none;
}

#CampaignEventPanelGroups .panel-body {
    height: 150px;
}

.jtk-endpoint {
    z-index: 1005;
}

.jtk-endpoint.dragActive {
    /* changes endpoint when dragging connector */
}

.jtk-label {
    background-color: white;
    opacity:0.9;
    padding:0.3em;
    border-radius:0.5em;
    border: 1px solid #47535f;
    cursor:pointer;
    z-index: 1004;
    color: #47535f;
}

.jtk-connector {
    z-index: 1000;
}

.jtk-clickable_anchor {
    cursor: pointer;
    z-index: 1050;
}

.jtk-endpoint svg text {
    display: none;
}

.jtk-clickable_anchor svg text {
    display: block;
}

.jtk-surface {
    overflow: hidden !important;
    position: relative;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    touch-action:none;
}

.jtk-surface-nopan {
    overflow: scroll !important;
    cursor:default;
}

.list-campaign-event, .list-campaign-source {
    width: 200px;
    height: 45px;
    position: absolute;
    padding: 10px 15px;
    z-index: 1010;
    background: #FFFFFF;
    border-radius: 3px;
}

.live .list-campaign-event:hover{
    border: solid 2px #0a73a6;
}
.live .list-campaign-source:hover {
    border: solid 2px #0aa659;
}
.live .list-campaign-condition:hover,.live .list-campaign-decision:hover {
    border: solid 2px #bd9d00;
}
.campaign-event-buttons {
    position: absolute;
    top: -10px;
    right: -10px;
}

.campaign-event-buttons .btn {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
}

.list-campaign-event .campaign-event-name {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.list-campaign-decision {
    background: #fff6cc;
    border: solid 2px #ffda24;
    color: #000;
}

.list-campaign-condition {
    background: #fff6cc;
    border: solid 2px #ffda24;
    color: #000;
}

.list-campaign-action {
    background: #c3e9fb;
    border: solid 2px #24aef2;
    color: #000;
}

.list-campaign-leadsource,.list-campaign-source {
    background: #dbfdec;
    border: solid 2px #24f28c;
    color: #000;
}

#CampaignEventSelector_chosen .list-campaign-action,
#CampaignEventSelector_chosen .list-campaign-condition,
#CampaignEventSelector_chosen .list-campaign-decision,
#CampaignEventSelector_chosen .list-campaign-leadsource {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 10px 5px;
}

#CampaignEventSelector_chosen .disabled-result {
    display: none;
}

.campaign-builder .list-group-item.ui-draggable-dragging {
    width: 206px;
    padding: 10px 15px;
    border-radius: 6px;
}

.campaign-builder .builder-active {
    height: 10000px !important;
}

.campaign-builder .builder-content {
    height: auto;
    width: auto;
    bottom: 0;
    overflow: auto;
    top: 70px;
}

#CampaignCanvas {
    height: 10000px;
    width: 10000px;
    position: relative;
}

.campaign-event-list .progress-bar {
    position: absolute;
    top: 0;
    height: 3px;
}

.campaign-event-buttons .btn-edit {
    background: #ec407a;
}

.stat-boxes .pie-legend li {
    display: inline;
}

.preview .builder-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.preview .builder-active {
    width: 100%;
    height: auto;
    position: relative;
}

.preview .list-campaign-event, .preview  .list-campaign-source {
    width: auto;
    height: 45px;
    position: absolute;
    padding: 10px 15px;
    z-index: 1010;
    background: #FFFFFF;
    border-radius: 3px;
}

.preview .list-campaign-event {
    height: 54px;
}

.preview .list-campaign-source {
    height: 45px;
}

.preview .jtk-endpoint {
    cursor: default;
}

.preview .jtk-endpoint svg {
    display: none;
}

.preview .list-campaign-event .campaign-event-name {
    line-height: 14px;
    overflow: visible;
}

#preview-container {
    width: 100%;
    height: 500px;
    overflow: auto;
}

.campaign-event-logic {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
}

.list-campaign-decision .campaign-event-logic {
    color: #00b49d;
}

.list-campaign-condition .campaign-event-logic {
    color: #ffb79f;
}

.list-campaign-action .campaign-event-logic {
    color: #9babeb;
}

.custom-campaign-builder{
    background-color: #000;
    padding-top: 3px;
    padding-right: 30px;
    padding-left: 15px;
    /* margin-left: 38%;padding-bottom: 10px;
     */
    width: 100%;
    position: fixed;
    z-index: 1040;
    float: right;
}

.campaign-custom-btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.3856;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.background-pink, .background-pink:hover{
    color: #fff;
    background: #ec407a;
    border: 1px solid #ec407a;
}

.background-orange, .background-orange:hover{
    color: #fff;
    background: #00BB5E;
    border: 1px solid #009A4E;
}

.background-white{
    color:#ffffff;
    float:left;
}

#actions-container .campaign-model-header{
    border: 1px solid #e5e5e5;
}

.minimized{
    min-height: 25px;
    position:relative;
    right:27%;
}
.campaign-statistics{
    width: 30%;
    z-index: 1000000;
    position: relative;
    top: 17%;
}

.campaign-custom-save-button, .campaign-custom-apply-button, .campaign-custom-btn, .campaign-custom-close-button{
    position:relative;
    float:right;
}
.campaign-custom-save-button{
    right:1%;
    text-transform: uppercase;
}
.campaign-custom-apply-button{
    right:2%;
    text-transform: uppercase;
}
.campaign-custom-btn{
    right:3%;
}
.campaign-custom-button-div{
    position:relative;
    top:15px;
}
.custom-campaign-builder .help-block{
    color: #ffffff !important;
    font-weight: bold;
}

.campaign-event-type-icon{
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    /* -webkit-box-flex: 1; */
    /* -webkit-flex: 1 0 48px; */
    -ms-flex: 1 0 48px;
    flex: 1 0 48px;
    margin-right: 10px;
}
.campaign-event-type-icon svg{
    height: 24px;
    width: 24px;
    fill: #fff;
}
.campaign-event-type-anchor{
    display: flex;
    padding: 12px 18px 18px;
    height: 100%;
    align-items: center;
}
.campaign-event-type-anchor:hover{
    background: #f2f2f2;
}
.campaign-event-type-icon-font{
    width: 24px;
    height: 24px;
    color: #fbfbfb;
    vertical-align: text-top;
}
.campaign-event-type-anchor h3{
    font-weight: 600;
}

.workflow-canvas .wf-link, .workflow-canvas .wf-split, .workflow-canvas .wf-extender {
    fill: none;
    stroke: #757575;
    stroke-width: 1px;
}
.workflow-canvas .wf-trigger-primary-label .wf-enclosure {
    fill: #dbfdec;
}

.workflow-canvas .wf-trigger-primary-label .wf-enclosure {
    stroke: #24f28c;
    fill: #c3fbdf;
}
.workflow-canvas .wf-trigger-primary-label:hover .wf-enclosure {
    stroke: #0aa659;
}
.workflow-canvas .wf-trigger .wf-enclosure {
    -webkit-transition: stroke 150ms;
    transition: stroke 150ms;
}

.workflow-canvas .wf-enclosure {
    cursor: pointer;
    stroke-width: 2px;
}
.workflow-canvas .wf-label {
    fill: #262626;
    cursor: pointer;
}
.workflow-canvas .wf-remove-button {
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
}

.workflow-canvas .wf-remove-button .wf-remove-button-enclosure {
    fill: #f22446;
}

.workflow-canvas .wf-remove-button .wf-x-bar {
    stroke: #fff;
    stroke-width: 2px;
}

.wf-action.node-active:hover>.wf-remove-button
{
    opacity:1
}
.wf-decision.node-active:hover>.wf-remove-button
{
    opacity:1
}
.wf-fork.node-active:hover>.wf-remove-button
{
    opacity:1
}
.wf-goal.node-active:hover>.wf-remove-button
{
    opacity:1
}
.wf-trigger.node-active:hover>.wf-remove-button
{
    opacity:1
}
.wf-delay.node-active:hover>.wf-remove-button
{
    opacity:1
}
.wf-exit.node-active:hover>.wf-remove-button
{
    opacity:1
}
.workflow-canvas [class*="insertion-point"] {
    cursor: pointer;
}

.workflow-canvas [class*="insertion-point"] .wf-insert-button {
    fill: #cccccc;
    -webkit-transition: fill 150ms, stroke 150ms;
    transition: fill 150ms, stroke 150ms;
}
.workflow-canvas [class*="insertion-point"] .wf-plus-bar {
    stroke: #fff;
    stroke-width: 2px;
    -webkit-transition: stroke 150ms;
    transition: stroke 150ms;
}
.workflow-canvas [class*="insertion-point"]:hover .wf-insert-button {
    fill: #24aef2;
}
.workflow-canvas .wf-delay-primary-label .wf-enclosure {
    stroke: #f22446;
    fill: #fbc3cc;
}
.workflow-canvas .wf-delay-primary-label:hover .wf-enclosure {
    stroke: #a60a24;
}
.workflow-canvas .wf-delay .wf-enclosure {
    -webkit-transition: stroke 150ms;
    transition: stroke 150ms;
}

.workflow-canvas .wf-action-primary-label .wf-enclosure {
    stroke: #24aef2;
    fill: #c3e9fb;
}

.workflow-canvas .wf-action-primary-label:hover .wf-enclosure {
    stroke: #0a73a6;
}


.workflow-canvas .wf-action .wf-enclosure {
    -webkit-transition: stroke 150ms;
    transition: stroke 150ms;
}

.workflow-canvas .wf-decision-primary-label .wf-enclosure {
    stroke: #ffda24;
    fill: #fff6cc;
}
.workflow-canvas .wf-decision-primary-label:hover .wf-enclosure {
    stroke: #bd9d00;
}
.workflow-canvas .wf-decision .wf-enclosure {
    -webkit-transition: stroke 150ms;
    transition: stroke 150ms;
}
.workflow-canvas .wf-decision-path-label {
    fill: #05537b;
}
.workflow-canvas .wf-decision-path-label .wf-label {
    cursor: default;
}
.workflow-canvas .wf-decision-path-label>.wf-enclosure {
    fill: #fefefe;
}

.workflow-canvas .wf-break-bar {
    stroke: #757575;
    stroke-width: 1px;
}

.workflow-canvas .wf-trigger.incomplete>.wf-node-labels .wf-node-primary-label .wf-enclosure {
    fill: transparent;
    stroke: #262626;
    stroke-width: 1px;
    stroke-dasharray: 6, 6;
}
.workflow-canvas .wf-trigger.incomplete>.wf-node-labels .wf-node-primary-label:hover .wf-enclosure {
    stroke: #24aef2;
}

.workflow-canvas .wf-trigger.incomplete>.wf-node-labels .wf-node-primary-label .wf-label {
    fill: #262626;
}

.workflow-canvas .wf-action.incomplete>.wf-node-labels .wf-node-primary-label .wf-label {
    fill: #262626;
}
.workflow-canvas .wf-action.incomplete>.wf-node-labels .wf-node-primary-label:hover .wf-enclosure {
    stroke: #24aef2;
}
.workflow-canvas .wf-action.incomplete>.wf-node-labels .wf-node-primary-label .wf-enclosure {
    fill: transparent;
    stroke: #262626;
    stroke-width: 1px;
    stroke-dasharray: 6, 6;
}
.workflow-canvas .wf-decision.incomplete>.wf-node-labels .wf-node-primary-label .wf-label {
    fill: #262626;
}
.workflow-canvas .wf-decision.incomplete>.wf-node-labels .wf-node-primary-label:hover .wf-enclosure {
    stroke: #24aef2;
}
.workflow-canvas .wf-decision.incomplete>.wf-node-labels .wf-node-primary-label .wf-enclosure {
    fill: transparent;
    stroke: #262626;
    stroke-width: 1px;
    stroke-dasharray: 6, 6;
}

.workflow-canvas .wf-delay.incomplete>.wf-node-labels .wf-node-primary-label .wf-label {
    fill: #262626;
}
.workflow-canvas .wf-delay.incomplete>.wf-node-labels .wf-node-primary-label:hover .wf-enclosure {
    stroke: #24aef2;
}
.workflow-canvas .wf-delay.incomplete>.wf-node-labels .wf-node-primary-label .wf-enclosure {
    fill: transparent;
    stroke: #262626;
    stroke-width: 1px;
    stroke-dasharray: 6, 6;
}

.workflow-canvas .wf-exit-primary-label:hover .wf-enclosure {
    stroke: #f43151;
}

.workflow-canvas .wf-exit-primary-label .wf-enclosure {
    fill: #fefefe;
}

.workflow-canvas .wf-exit .wf-enclosure {
    -webkit-transition: stroke 150ms;
    transition: stroke 150ms;
}

.workflow-canvas .wf-exit-primary-label .wf-enclosure {
    stroke: #f992a3;
    fill: white;
}

.workflow-canvas .wf-fork-primary-label:hover .wf-enclosure {
    stroke: #a60aa6;
}

.workflow-canvas .wf-fork-primary-label .wf-enclosure {
    stroke: #f224f2;
    cursor: default;
    fill: #fcc8fc;
}

.workflow-canvas .wf-fork-primary-label .wf-fork-icon {
    fill: #f224f2;
}